aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.1
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
autopage==0.5.1
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
bs4==0.0.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cliff==4.3.0
cmd2==2.4.3
contourpy==1.1.0
cryptography==41.0.3
cssutils==2.7.1
cycler==0.11.0
dataframe-image==0.2.1
debtcollector==2.5.0
decorator==5.1.1
defusedxml==0.7.1
dogpile.cache==1.2.2
Faker==19.6.0
fastjsonschema==2.18.0
favicon==0.7.0
fonttools==4.42.1
fpdf==1.7.2
frozendict==2.3.8
frozenlist==1.4.0
gitdb==4.0.10
GitPython==3.1.34
htbuilder==0.6.2
html2image==2.0.4.3
html5lib==1.1
idna==3.4
importlib-metadata==6.8.0
inflection==0.5.1
iso8601==2.0.0
Jinja2==3.1.2
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyterlab-pygments==0.2.2
kaleido==0.2.1
keystoneauth1==5.3.0
kiwisolver==1.4.5
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
mistune==3.0.1
more-itertools==10.1.0
msgpack==1.0.5
multidict==6.0.4
multitasking==0.0.11
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
netaddr==0.8.0
netifaces==0.11.0
numpy==1.25.0
openstacksdk==1.5.0
os-service-types==1.7.0
osc-lib==2.8.1
oslo.config==9.2.0
oslo.i18n==6.1.0
oslo.serialization==5.2.0
oslo.utils==6.2.1
packaging==23.1
pandas==2.0.2
pandocfilters==1.5.0
patsy==0.5.3
pbr==5.11.1
Pillow==9.5.0
platformdirs==3.10.0
plotly==5.3.1
prettytable==3.9.0
protobuf==4.24.2
pyarrow==13.0.0
pycparser==2.21
pydeck==0.8.0
Pygments==2.16.1
pymdown-extensions==10.3
Pympler==1.0.1
pyparsing==3.0.9
pyperclip==1.8.2
python-cinderclient==9.4.0
python-dateutil==2.8.2
python-keystoneclient==5.2.0
python-novaclient==18.4.0
python-openstackclient==6.2.0
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
pyzmq==25.1.1
Quandl==3.7.0
referencing==0.30.2
requests==2.31.0
requestsexceptions==1.4.0
rfc3986==2.0.0
rich==13.5.2
rpds-py==0.10.0
scipy==1.11.2
seaborn==0.12.2
simplejson==3.19.1
six==1.16.0
smmap==5.0.0
soupsieve==2.4.1
st-annotated-text==4.0.1
statsmodels==0.14.0
stevedore==5.1.0
streamlit==1.26.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.2
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
tenacity==8.2.3
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
traitlets==5.10.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.0.4
validators==0.22.0
webencodings==0.5.1
websocket-client==1.6.3
wrapt==1.15.0
yahoofinance==0.0.2
yarl==1.9.2
yfinance==0.2.28
zipp==3.16.2
